// No horizontal scroll -------------------------
body {
  overflow-x: hidden;
}

// Body
.mw-body {
  padding: 0 1rem;
}

.contentHeader {
  padding: 0 1rem;
}

// First Heading --------------------------------
// Main Page
body.page-Main_Page h1#firstHeading {
  display: none;
}

// ns-14 (Category)
body.ns-14 h1#firstHeading {
  //      display: none;
}

// Lead Text ------------------------------------
.lead {
  font-size: 1.5em;
  font-weight: bold;
}

// Spacer ---------------------------------------
.spacer {
  height: 2em;
}

.spacer-1 {
  height: 1em;
}

.spacer-2 {
  height: 2em;
}

.spacer-3 {
  height: 3em;
}

.spacer-5 {
  height: 5em;
}

// neg-margins ----------------------------------
.neg-margin-row {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}
