// MT Date Time Table
.mt-date-table {
  width: 4.5rem;
  margin-bottom: 8px;
}

.mt-date-table-top {
  background-color: $gray-400;
  padding: 2px 8px;
}

.mt-date-table-bottom {
  background-color: $gray-800;
  color: #FFF;
  font-size: 75%;
  white-space: nowrap;
  padding: 2px 8px;
}

.mt-date-table-caption {
  padding-left: 8px;
  vertical-align: bottom;
  padding-bottom: 18px;
}
