// First Heading --------------------------------
// ns-14 (Category)
body.ns-14 h1#firstHeading {
  //      display: none;
}

body.ns-14 div#mw-indicators {
  //      display: none;
}

// Spacer ---------------------------------------
.spacer {
  height: 2em;
}

.spacer-1 {
  height: 1em;
}

.spacer-2 {
  height: 2em;
}

.spacer-3 {
  height: 3em;
}